<div layout="row" ratio="1">
	<div
		ng-include="'views/sidebar.html'"
		ng-controller="sidebarCtrl"
		ratio="1"
		class="sidebar"
	></div>

	<div ratio="5" layout="col" class="editor-container">
		<div class="editor-header" layout="row" justify="between" align="center">
			<input type="text" ng-model="post.title" placeholder="Post Title" ratio="1">
			<div class="editor-buttons" combo></div>
		</div>
		
		<div ratio="1" layout="row">
			<div ratio="1" layout="col" class="editor-input-wrapper">
				<textarea ng-model="post.content" class="editor-input" ratio="1" scroll-master="sync"></textarea>
			</div>
			
			<div ratio="1" layout="col" class="editor-display" scroll-slave="sync">
				<div marked="post.content" ratio="1"></div>
			</div>
		</div>
	</div>
</div>

<div class="offscreen">
	
</div>