<div layout="row" ratio="1">
	<div
		ng-include="'views/sidebar.html'"
		ng-controller="sidebarCtrl"
		ratio="1"
		class="sidebar"
	></div>

	<div ratio="5" layout="col">
		<div class="content-header" layout="row" justify="between" align="center">
			<h2>Content</h2>
			<a href="#/new" class="btn-new">Create post</a>
		</div>
		
		<div ratio="1" layout="row">
			<div ratio="1" layout="col" class="nav-bar">
				<ul class="posts-list">
					<li ng-repeat="post in posts" ng-click="choosePost(post)" ng-class="{chosen: currentPost._id == post._id}">
						<p class="post-title">{{ post.title }}</p>
						<p ng-show="post.published_at" class="published-when">Published: {{ post.published_at | timeAgo }}</p>
						<p ng-show="!post.published_at" class="draft">Draft</p>
					</li>
				</ul>
			</div>
			
			<div ratio="3" class="post-display">
				<a href="#/edit/{{ currentPost._id }}" class="btn-edit edit"><i class="fa fa-pencil"></i></a>
			
				<h2>{{ currentPost.title }}</h2>
				
				<div marked="currentPost.content"></div>
			</div>
		</div>
	</div>
</div>