.btn
	padding 0.5em 1em
	outline 0
	border 0
	border-radius rad
	background #222
	color #fff
	text-decoration none
	font-size 1em
	-webkit-font-smoothing antialiased
	cursor pointer
	transition background 0.1s

	&.btn-red
		color = tomato
		background color
		&:hover
			background lighten(color, 20%)
		
	&.btn-green
		color = my-green
		background color
		&:hover
			background lighten(color, 20%)
	
	&.btn-blue
		color = dodgerblue
		background color
		&:hover
			background lighten(color, 20%)