.content-container
	max-height 100vh


.content-header
	border-bottom 1px solid line-color
	padding 1em
	max-height 4em
	min-height 4em
	
	h2
		font-weight 200
		margin 0


.posts-list
	list-style none
	padding 0
	margin 0
	border-right 1px solid line-color
	min-width 300px
	
	li
		padding 0.5em 1em
		border-bottom 1px solid line-color
		cursor pointer
		transition background transition-speed
		
		&:hover
			background line-color
		
		&.chosen
			border-left 2px solid dodgerblue
			
		p
			margin 0.3em
			
	.post-title
		font-weight 600
		margin-bottom 0.5em
		
	.published-when
		color #999
		font-size 0.8em
		
	.draft
		color tomato
		font-size 0.8em


.post-display
	padding 3em
	position relative
	overflow-y scroll
	
	h2
		font-size 3em
		margin-top 0
	
	.btn-edit
		position absolute
		top 1em
		right 1em
		color black
		background #eee
		
		&:hover
			background my-green
			color #fff