.editor-container
	max-height 100vh


.editor-header
	border-bottom 1px solid line-color
	padding 1em
	max-height 4em
	min-height 4em
	
	input
		border 0
		outline 0
		font-size 2em
		font-weight bold


.editor-input-wrapper
	position relative
	
	
.editor-input
	position absolute
	top 0
	bottom 0
	width 100%
	border 0
	outline 0
	resize none
	padding 1em
	font-size inherit
	font-family mono-fonts
	line-height 1.5
	tab-size 4
	border-right 1px solid line-color
	

.editor-display
	padding 0 1em
	position relative
	overflow-y scroll
	-webkit-font-smoothing antialiased
	font-size 1.1em
	
	p, li
		line-height 1.5