.options-container
	padding 1em 1em 5em
	overflow-y scroll

.option-row
	margin 1em 0
	
	label
		display block
		font-size 0.9em
		font-weight bold
		
.option-textarea, .option-input
	outline 0
	border 1px solid line-color
	border-radius rad
	width 800px
		
.option-textarea
	padding 1em
	line-height 2
	height 300px
	font-family mono-fonts
	
.option-input
	padding 0.5em 1em