line-color = #eee
my-green = #8BC34A

*
	box-sizing border-box


body
	font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
	margin 0
	color #333


p, li
	line-height 1.5
	
	
.container
	max-width 1000px
	width 100%
	margin 0 auto


.sidebar
	border-right 1px solid line-color
	background lighten(line-color, 50%)
	padding 0.5em
	
	h1
		margin 0
		
		a
			color inherit
			text-decoration none
			
	nav a
		text-decoration none
		color inherit
		display block
			
		&:hover
			background #fff
			
		&.current
			background dodgerblue
			color #fff
			-webkit-font-smoothing antialiased
	
	
	ul
		padding 0
		list-style none
		
	li a
		padding 0.5em
		margin-left -0.5em
		border-radius 0 3px 3px 0
		
		i.fa
			margin-right 0.5em


.nav-bar
	border-right 1px solid line-color
	min-width 300px


.content-container
	max-height 100vh


.content-header
	border-bottom 1px solid line-color
	padding 1em
	height 5em
	
	h2
		font-weight 200
		margin 0
		
	.btn-new
		padding 0.5em 1em
		background my-green
		color #fff
		text-decoration none
		-webkit-font-smoothing antialiased
		border 0
		border-radius 3px


.posts-list
	list-style none
	padding 0
	margin 0
	
	li
		padding 0.5em 1em
		border-bottom 1px solid line-color
		cursor pointer
		
		&:hover
			background line-color
		
		&.chosen
			border-left 2px solid dodgerblue
			
		p
			margin 0.3em
			
	.post-title
		font-weight 600
		margin-bottom 0.5em
		
	.published-when
		color #999
		
	.draft
		color tomato


.post-display
	padding 3em
	position relative
	
	h2
		font-size 3em
		margin-top 0
	
	.btn-edit
		position absolute
		top 1em
		right 1em
		display inline-block
		color my-green
		padding 0.5em 1em
		border-radius 3px
		border 0
		font inherit
		text-decoration none
		cursor pointer
		transition background 0.1s
		
		&:hover
			background whitesmoke


.post-editor
	padding 1em
	
	h2
		margin 0
	
	.form-row
		margin 2em 0
		
	label
		font-weight bold
		font-size 0.9em
		display block
		margin 0.5em 0
	
	input[type=text]
		outline 0
		margin 0.5em 0
		padding 0.5em
		border 1px solid #ccc
		border-radius 4px
		display block
		width 100%
		font inherit
	
	textarea
		outline 0
		width 100%
		min-height 300px
		padding 0.5em
		border 1px solid #ccc
		border-radius 4px
		font inherit


.post-editor-leftbar
	padding-right 1em


.post-editor-sidebar
	
	.box
		background #eee
		border 1px solid #ddd
		padding 0.5em 0.5em
		border-radius 4px
		margin-bottom 1em
		
		.row
			margin 0.5em
		
		.label
			font-weight bold
		
		.control-btns
			margin-top 3em
			text-align right
			
		button
			padding 0.5em 1em
			outline 0
			border 0
			border-radius 4px
			color #fff
			-webkit-font-smoothing antialiased
			background #222
			font inherit
			cursor pointer
				
		.btn-draft
			background my-green
		
		.btn-publish
			background dodgerblue
