<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{{ pageTitle }} - {{ siteName }}
	</title>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300|Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="assets/css/style.css">
	{{{ head }}}
</head>
<body class="{{ bodyClass }}">
	
	<header>
		<div class="container">
			<h1><a href="/">{{ siteName }}</a></h1>
			
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
				</ul>
			</nav>
		</div>
	</header>
	